<!-- <div class="container">
    <div class="row justify-content-center p-4">

        <div class="col-md-6">
            <form (ngSubmit)="login()">
            <h3>Login</h3>
            <div class="form-group p-2">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email Id" required>
        </div>
        <div class="form-group p-2">
            <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" required>
        </div>
        <div class="form-group p-2">
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="register"><a href="#" routerLink="/register">New User Register</a></div>
        </div>
        </form>
        <div class="form-group">
            <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>

            <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>

        </div>
        </div>
    </div>
</div> -->

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/img/2.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">

            <p class="login-card-description">Login into your account</p>
            <form (ngSubmit)="login()">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email"
                  placeholder="Email address">
              </div>
              <div class="form-group mb-4">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                  placeholder="***********">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
            </form>
            <div class="form-group">
              <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>
              <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>
            </div>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-card-footer-text">Don't have an account? <a href="#!" routerLink="/register"
                class="text-reset">Register here</a>
            </p>
            <a href="#" class="btn btn-primary space"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i>
            </a>

          </div>
        </div>
      </div>
    </div>

  </div>

</main>